{{ ip }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ip</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="float">
        <div class="floater">
            <div class="top right">
                <h3>your ip is</h3>
            </div>
            <div class="center">
                <h1>{{ ip }}</h1>
            </div>
            <div class="bottom left">
                <p>bye</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>checkout ip.meyerstk.com/ip for just the ip</p>
    </div>
  </body>
</html>
